# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app

**/*_x
**/*.Xil
*_summary

fpga/_x
fpga/.Xil
*.log
*.xo

*.db
*.csv
*.a

aie/data
aie/Work

*.xclbin

**/cfg
**/emulation_data
**/sim
*.bin
*.BIN
*.bif
*.xsa
linking/launch_hw_emu.sh
*.txt

!build/**/** 
